run = "node keep-alive.js"
language = "nodejs"
entrypoint = "bot.js"

[nix]
channel = "stable-22_11"

[env]
NODE_ENV = "production"

[deployment]
run = ["sh", "-c", "npm install && npm start"]

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
guessImports = true
packageSearch = true
